<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3" style="background-color: teal; border-color: teal;"
  >
    <div class="container">
      <a style="color: white;" class="navbar-brand">WHAT TO DO</a>     
      <!-- <div>
        <ul class="navbar-nav flex-grow">         
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
</header>
